.heading{
    font-size:23px;
    width:100%;
    margin:0%;
}

.note
{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

canvas 
{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top:150px;
    animation-iteration-count: infinite;
}
